@font-face {
  font-family: "Barlow Semi Condensed";
  font-weight: 500;
  font-style: normal;
  src: local("Barlow Semi Condensed"),
    url("./fonts/BarlowSemiCondensed-medium.ttf") format("TrueType");
}
@font-face {
  font-family: "Barlow Semi Condensed";
  font-weight: 600;
  font-style: normal;
  src: local("Barlow Semi Condensed"),
    url("./fonts/BarlowSemiCondensed-SemiBold.ttf") format("TrueType");
}

:root {
  --font-base: "Barlow Semi Condensed", sans-serif;
  --cream: hsl(300, 5%, 96%);
  --black: hsl(0, 0%, 7%);
  --dark-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(216, 19%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-300: hsl(215, 10%, 67%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-400: hsl(264, 82%, 70%);
  --purple-500: hsl(263, 55%, 52%);
  --space-2xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem); /*4px*/
  --space-1xs: clamp(0.4375rem, 0.4196rem + 0.0893vw, 0.5rem); /*7px - 8px*/
  --space-s: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem); /*14px - 16px*/
  --space-m: clamp(1.375rem, 1.3393rem + 0.1786vw, 1.5rem); /*22px - 24px*/
  --space-l: clamp(1.8125rem, 1.7589rem + 0.2679vw, 2rem); /*29px - 32px */
  --space-xl: clamp(2.25rem, 2.1786rem + 0.3571vw, 2.5rem); /*36px - 40px */
  --step-0: clamp(0.625rem, 0.6071rem + 0.0893vw, 0.6875rem); /*10px - 11px */
  --step-1: clamp(0.6875rem, 0.6518rem + 0.1786vw, 0.8125rem); /*11px - 13px */
  --step-2: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem); /* 18px - 20px*/
  --step-3: clamp(2.5rem, 2.071rem + 2.143vw, 4rem);
  --corner-radius: 0.5rem;
  --flow: var(--space-l);
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-inline-size: 100%;
  display: block;
}

body {
  font-family: var(--font-base);
  letter-spacing: 0;
  min-block-size: 100dvh;
  font-size: var(--step-2);
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 1.2;
  padding: 1.09375rem;
}

ul,
ol {
  list-style: none;
}

h1 {
  line-height: 1.1;
  font-size: var(--step-3);
  color: var(--grey-500);
}

blockquote {
  font-size: var(--step-1);
  color: var(--blockquote-color);
  line-height: 1.4;
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}

.avatar {
  border-radius: 50%;
  outline: var(--avatar-outline);
  height: 100%;
}

.testimonial-list {
  display: grid;
  grid-template-columns: minmax(auto, 19.0625rem);
  grid-template-areas:
    "t1"
    "t2"
    "t3"
    "t4"
    "t5";
  row-gap: var(--space-l);
}

.testimonial {
  --name-color: var(--white);
  --verified-color: var(--purple-50);
  --blockquote-color: var(--purple-50);
  --push-quote-color: var(--purple-50);
  --testimonial-background: var(--purple-500);
  --avatar-outline: 0.125rem solid var(--purple-400);
  --flow: var(--space-s);
  background-color: var(--testimonial-background);
  padding: var(--space-l);
  border-radius: var(--corner-radius);
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 25%);
}

.testimonial-1 {
  grid-area: t1;
}
.testimonial-2 {
  grid-area: t2;
  --name-color: var(--white);
  --verified-color: var(--grey-300);
  --push-quote-color: var(--white);
  --blockquote-color: var(--grey-100);
  --testimonial-background: var(--grey-500);
  --avatar-outline: unset;
}

.testimonial-3 {
  grid-area: t3;
}

.testimonial-4 {
  grid-area: t4;
  --name-color: var(--white);
  --verified-color: var(--white);
  --push-quote-color: var(--grey-200);
  --blockquote-color: var(--grey-100);
  --testimonial-background: var(--dark-blue);
  --avatar-outline: 0.125rem solid var(--purple-500);
}

.testimonial-5 {
  grid-area: t5;
}

.testimonial-3,
.testimonial-5 {
  --name-color: var(--grey-500);
  --verified-color: var(--grey-400);
  --push-quote-color: var(--grey-500);
  --blockquote-color: var(--grey-400);
  --testimonial-background: var(--white);
  --avatar-outline: unset;
}

.flow > * + * {
  margin-block-start: var(--flow, 1em);
}

.testimonial header {
  display: flex;
  align-items: center;
  gap: var(--space-s);
  height: var(--space-l);
}

.testimonial > p {
  color: var(--push-quote-color);
  font-weight: 600;
}

.badge p {
  line-height: 1.1;
}

.badge p:first-of-type {
  font-size: var(--step-1);
  color: var(--name-color);
}

.badge p:nth-of-type(2) {
  font-size: var(--step-0);
  margin-block-start: var(--space-2xs);
  color: var(--verified-color);
}

.attribution {
  font-size: var(--step-0);
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 48em) {
  .testimonial-list {
    grid-template-columns: repeat(2, minmax(auto, 19.21875rem));
    grid-template-areas:
      "t1 t1"
      "t2 t3"
      "t4 t4"
      "t5 t5";
    column-gap: var(--space-l);
  }
}

@media (min-width: 77.5em) {
  .testimonial-list {
    grid-template-columns: repeat(4, minmax(auto, 15.9375rem));
    grid-template-areas:
      "t1 t1 t2 t5"
      "t3 t4 t4 t5";
    row-gap: var(--space-m);
  }
}
